<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Void Terminal"
    Manufacturer="190km"
    Version="$(var.Version)"
    UpgradeCode="{7B5E1D3A-9F2C-4E8B-A1D6-3C5F7E9B2A4D}"
    Language="1033">

    <Package
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perUser"
      Description="Infinite Canvas Terminal"
      Comments="https://void.sh" />

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of Void Terminal is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <!-- Install to %LOCALAPPDATA%\Programs\Void -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="LocalProgramsFolder" Name="Programs">
          <Directory Id="INSTALLDIR" Name="Void">
            <Component Id="MainExecutable" Guid="*">
              <File Id="VoidExe" Name="void.exe"
                    Source="$(var.BinaryDir)\void.exe" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" />
      <Directory Id="ProgramMenuFolder" />
    </Directory>

    <Feature Id="MainFeature" Title="Void Terminal" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>

  </Product>
</Wix>
